<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавить информацию о водителе</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/js/main.js}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<header th:replace="/includes/header :: header"> </header>
<body>



<div class="login-frame">
  <form  th:action="@{/account/add-driver-info}" method="post" class="login-form" th:object="${driverDescription}">
    <h2>Изменение информации о водителе</h2>
    <label for="driverLicense">Номер водительского удостоверения</label>
    <input type="text" id="driverLicense" name="driverLicense" class="form-input" required th:field="*{drivinglicenseNumber}">
    <label for="ownershipCertificate">Номер СТС</label>
    <input type="text" id="ownershipCertificate" name="ownershipCertificate" class="form-input" required th:field="*{carCertificateOfOwnership}">
    <select class="form-input" name="carId" id="carList">
      <option value="0">Выберите модель автомобиля</option>
      <option th:each="car : ${cars}" th:value="${car.getKey()}" th:text="${car.getValue()}"></option>
    </select>
    <input type="submit" value="Сохранить информацию" class="form-submit">
  </form>
</div>

</body>

<script type="text/javascript" th:if="${justBecameDriver}">
  openAlertDialog("Поздравляем", "Теперь вы - водитель! Пожалуйста, заполните ваши данные.");
</script>
</html>

