<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Авторизация</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/js/main.js}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<header th:replace="/includes/header :: header"> </header>
<body>



<ul>
<li>Не превышайте скорость и не нарушайте ПДД. Это может быть опасным для вас, клиентов и других участников дорожного движения. Кроме того, это может привести к нарушению правил сервиса и понижению вашей репутации.</li>

<li>Не приезжайте к клиенту пьяным, под воздействием наркотиков или в состоянии, не позволяющем вам безопасно управлять автомобилем. Такое поведение может повлечь за собой юридические последствия, а также повредить вашей репутации и рейтингу на сервисе.</li>

<li>Не превышайте скорость и не нарушайте ПДД. Это может быть опасным для вас, клиентов и других участников дорожного движения. Кроме того, это может привести к нарушению правил сервиса и понижению вашей репутации.</li>

<li>Не использовать сервис для сбора клиентов вне системы. Это может привести к заблокированию вашего аккаунта и ухудшению вашей репутации.</li>

<li>Не создавайте множество аккаунтов для обхода правил сервиса. Если вы нарушаете правила, вам следует обратиться к администрации сервиса, чтобы узнать, какие шаги нужно предпринять, чтобы исправить ситуацию.</li>

<li>Не устанавливайте необоснованные цены или несоответствующие категории автомобилей для заказов. Это может привести к недовольству клиентов и негативным отзывам.</li>

<li>Не занимайте заказы, если у вас нет возможности их выполнить. Если вы заняли заказ, а затем не смогли его выполнить, это может привести к понижению вашей репутации и оценки на сервисе.</li>

<li>Не контактируйте с клиентами вне системы сервиса. Это может быть небезопасным и привести к нарушению правил сервиса.</li>

<li>Не совершайте мошеннические действия, например, занижение счетов или предоставление недостоверной информации о поездках. Это может привести к блокировке вашего аккаунта и юридическим последствиям.</li>

<li>Не принимайте дополнительных пассажиров, если это не согласовано с заказчиком. Если заказчик не согласен на дополнительных пассажиров, вы должны ехать только с теми, кого указал заказчик.</li>

<li>Не отказывайтесь выполнять заказы на основании расовой, половой или другой дискриминации. Вы должны принимать заказы, если они соответствуют вашим возможностям и нет причин их отказа.</li>

<li>Не использовать машину с дефектами или неисправностями. Вы должны следить за состоянием вашего автомобиля и не использовать его, если есть проблемы с безопасностью.</li>

<li>Не нарушайте правила оформления заказов. Вы должны использовать только правильную информацию и не вводить клиентов в заблуждение.</li>

<li>Не нарушайте правила оформления оплаты. Вы должны использовать только правильные методы оплаты и не использовать фальшивые кредитные карты или другие недостоверные данные.</li>

<li>Не общайтесь с клиентами грубо или неприлично. Вы должны проявлять уважение к клиентам и не использовать ненормативную лексику или другие формы неприличного поведения.</li>

<li>Не отменяйте заказы без уважительной причины. Если вы отменяете заказы без уважительной причины, это может привести к понижению вашей репутации и оценки на сервисе.</li>

<li>Не оставляйте клиентов на дороге или не доставляйте их в пункт назначения. Если вы не можете выполнить заказ, вы должны уведомить клиента и сообщить причины задержки или отмены заказа.</li>

<li>Не нарушайте правила поездки, установленные заказчиком. Вы должны следовать указаниям заказчика и не нарушать их правила поездки.</li>




</ul>

</body>
</html>

