<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Личный кабинет</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/js/main.js}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

<header th:replace="/includes/header :: header"> </header>

<div class="personal-account">
  <div class="actions">
    <ul>
      <li><a th:href="@{/logout}">Выйти</a></li>
      <li><a th:href="@{/account/delete}">Удалить пользователя</a></li>
      <li><a th:href="@{/account/become-driver}" sec:authorize="!hasRole('ROLE_DRIVER')" highlighted>Стать водителем</a></li>
      <li><a th:href="@{/account/add-driver-info}" sec:authorize="hasRole('ROLE_DRIVER')" highlighted>Изменить информацию о водителе</a></li>
    </ul>
  </div>
  <div class="account-info">
    <h2>Информация об аккаунте</h2>
    <div class="info-row">
      <span class="info-label">Имя пользователя:</span>
      <span class="info-value" th:text="${user.getUsername()}"></span>
    </div>
    <div class="info-row">
      <span class="info-label">Номер телефона:</span>
      <span class="info-value" th:text="${user.getPhoneNumber()}"></span>
    </div>
    <div class="info-row">
      <span class="info-label">ID:</span>
      <span class="info-value" th:text="${user.getId()}"></span>
    </div>
    <div class="info-row">
      <span class="info-label">Статус:</span>
      <span class="info-value" th:text="${user.getRoleString()}"></span>
    </div>
    <div sec:authorize="hasRole('ROLE_DRIVER')">
      <div class="info-row">
        <span class="info-label">Автомобиль:</span>
        <span class="info-value" th:text="${user.getDriverDescription().getCar().toString()}"></span>
      </div>
      <div class="info-row">
        <span class="info-label">Рейтинг:</span>
        <span class="info-value" th:text="${user.getDriverDescription().getRating()}"></span>
      </div>
      <div class="info-row">
        <span class="info-label">Количество нарушений:</span>
        <span class="info-value" th:text="${user.getDriverDescription().getServiceRulesViolations() + '/3'}"></span>
      </div>
    </div>
  </div>
</div>


</body>

</html>