<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Главная страница</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/js/main.js}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<header th:replace="/includes/header :: header"> </header>


<header sec:authorize="!isAuthenticated()" th:replace="/includes/steps :: div"> </header>







</body>
</html>

