<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/js/main.js}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

<header th:replace="/includes/header :: header"> </header>


<div class="login-frame">
  <form  th:action="@{/register}" method="post" class="login-form" th:object="${newUser}">
    <h2>Регистрация</h2>
    <label for="username">Имя пользователя</label>
    <input type="text" id="username" name="username" class="form-input" required th:field="*{username}">
    <label for="phoneNumber">Номер телефона</label>
    <input type="text" id="phoneNumber" name="phoneNumber" class="form-input" required th:field="*{phoneNumber}">

    <label for="password">Пароль</label>
    <input type="password" id="password" name="password" class="form-input" required th:field="*{password}">

    <label for="password">Подтверждение пароля</label>
    <input type="password" id="password_confirm" name="password_confirm" class="form-input" required th:field="*{passwordConfirm}">

    <input type="submit" value="Зарегистрироваться" class="form-submit">
  </form>
</div>

</body>

<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/

  var error = /*[[${error}]]*/ '';
  if(error) {
    openAlertDialog("Ошибка регистрации", error);
  }
  /*]]>*/
</script>
</html>